* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Kokoro';
    src: url('./font/Kokoro.otf') format('opentype');
}

body {
    width: 100%;
    height: auto;
    font-family: "Kokoro";
    color: #272533;
}

header {
    position: relative;
    background-image: url(image/pink-fireworks.JPG);
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    z-index: 0;
    overflow: hidden;
    /*ブラー効果でボヤけた部分を非表示*/
}


/*:beforeにぼかし効果を設定する*/

header:before {
    content: '';
    background: inherit;
    /*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    /*重なり順序を一番下にしておく*/
}

header .main-visual {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-visual .top-title {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 100;
}

.poem {
    position: relative;
    height: 80vh;
    background-position: top right;
    background-image: url(./image/bokashi.JPG);
    background-size: cover;
    z-index: 0;
    overflow: hidden;
    /*ブラー効果でボヤけた部分を非表示*/
}


/*:beforeにぼかし効果を設定する*/


}
.poem:before {
    content: '';
    background: inherit;
    /*.bgImageで設定した背景画像を継承する*/
    
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    /*重なり順序を一番下にしておく*/
}
.poem .sub-visual {
    position: absolute;
    top: 36%;
    left: 63%;
    transform: translate(-63%, -36%);
}
.sub-visual .title {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: left;
}
.title .fire {
    color: #ff0000;
    font-size: 45px;
}
.title .border {
    margin-top: 13px;
    border: 0px solid #fff;
    width: 2px;
    height: 70px;
    display: inline-block;
    background: #fff;
    border-radius: 2px;
}
.gallery {
    width: 100%;
}
.container {
    overflow: hidden;
    margin: 0 auto;
    padding: 50px;
    width: 1000px;
}

/* CSSアニメーション*/
figure {
    position: relative;
    overflow: hidden;
}
figcaption {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, .6);
    -webkit-transition: .3s;
    transition: 2.3s;
}
figure:hover figcaption {
    bottom: 0;
}
.container .back {
    float: left;
    display: block;
}
.back .member {
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    letter-spacing: 3px;
    padding: 11px;
}

/*
.back:hover {
    transition: 3s;
    transform: scale(1.2);
}
*/
.container .r-box {
    float: left;
    margin-left: 50px;
    padding: 50px;
    width: 300px;
}
.location {
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    width: 300px;
    font-weight: 100;
}
.location .summer {
    vertical-align: bottom;
    color: #fc5f3b;
    font-size: 35px;
}
.location .sea {
    vertical-align: bottom;
    font-size: 35px;
    color: #34dacc;
}
.date {
    line-height: 40px;
    letter-spacing: 0.3px;
    font-size: 17px;
    text-align: left;
    margin-top: 40px;
}
.container .picture {
    width: 550px;
    display: block;
    float: left;
}
.picture .mask {
    overflow: hidden;
    display: block;
    float: left;
    width: 275px;
}
.picture .mask .photos {
    display: block;
    width: 275px;
}
.photos:hover {
    transition: 2.5s;
    transform: scale(1.2);
}
.container .l-box {
    float: left;
    margin-right: 50px;
    padding: 50px;
    width: 300px;
}
.name {
    font-size: 13px;
    text-align: center;
    background-color: #272533;
    color: #ffffff;
    line-height: 55px;
}
.name .copy {
    color: #fff;
    font-family: initial;
    font-size: 10px;
    margin-right: 5px;
}